
<section id="banner" class="tv-banner-area">
    <div class="tv-title">
        <p>
            <strong style="font-size:35px;">
                TradingView'da PhillipCapital Müşterilerine<br>
                İşlem Yapma İmkanı
                <br />
            </strong>
        </p>
        <p>
            <a href="/hesap-ac" style="text-decoration:none; background-color: #f47f01; font-size: 16px; padding: 9px; width: 166px; border: 1px; color: white; border-radius: 10px; ">Hesap Aç</a>
        </p>

    </div>
</section>
<section class="tv-desktop-area">
    <div class="tv-row">
        <div class="tv-image">
            <img src="~/content/images/tv/tvd.png" alt="tradingview desktop">
        </div>
        <div class="tv-text">
            <img src="~/content/images/tv/tv.png" style="width: 50px;height:50px; margin-bottom:15px;">
            <p>
                <strong>
                    PhillipCapital Hesabınızla TradingView'da Yatırım Yapın
                </strong>
            </p>
            <p>
                PhillipCapital hesabınızı TradingView platformuna entegre ederek, finansal analizlerinizi daha
                etkili bir şekilde gerçekleştirin. Piyasaları detaylı grafiklerle takip edin, kapsamlı analiz
                araçlarından faydalanın.
            </p>
            <p>
            <p>
                <a href="https://tr.tradingview.com/broker/PhillipCapitalTurkiye"
                   style="text-decoration:none; background-color: #f47f01; font-size: 16px; padding: 12px; width: 166px; border: 1px; color: white; border-radius: 10px; ">İşlem Yapmaya Başlayın</a>

            </p>
        </div>
    </div>
</section>
<section class="tv-tradingview-info">
    <div class="tv-mask"></div>
    <div class="tv-info-title">
        Tradingview Nedir?
    </div>
    <div class="tv-info-desc">
        <p>
            TradingView, yatırımcıların finansal piyasaları takip etmelerini sağlayan popüler bir platformdur.<br>
            Kullanıcılar grafikler oluşturabilir, teknik analiz yapabilir, fikir alışverişinde bulunabilir<br> ve
            piyasa verilerini anlık olarak izleyebilir. Aylık 60 milyondan fazla ziyaretçisi bulunmaktadır.
        </p>
    </div>
    <div class="tv-card-container">
        <div class="tv-card">
            <img src="~/content/images/tv/search.png">
            <div class="tv-label-card">
                <p>
                    <strong>
                        Grafik ve Analiz Araçları
                    </strong>
                </p>
                <p>
                    En güncel piyasa verileri ve fiyat hareketlerine anında erişim sağlayın.
                </p>
            </div>
        </div>
        <div class="tv-card">
            <img src="~/content/images/tv/clock.png">
            <div class="tv-label-card">
                <p>
                    <strong>
                        Anlık Veri
                    </strong>
                </p>
                <p>
                    En güncel piyasa verileri ve fiyat hareketlerine anında erişim sağlayın.
                </p>
            </div>
        </div>
        <div class="tv-card">
            <img src="~/content/images/tv/share.png">
            <div class="tv-label-card">
                <p>
                    <strong>
                        Sosyal Yatırım Ağı
                    </strong>
                </p>
                <p>
                    Diğer yatırımcılarla fikir alışverişi yapın ve analizlerinizi paylaşın.
                </p>
            </div>
        </div>
        <div class="tv-card">
            <img src="~/content/images/tv/desktop.png">
            <div class="tv-label-card"> 
                <p>
                    <strong>
                        Çoklu Platform Desteği
                    </strong>
                </p>
                <p>
                    Hem masaüstü hem de mobil cihazlardan işlem yapın.
                </p>
            </div>
        </div>
    </div>
</section>

<div class="tv-label">
    <div class="tv-card-container">




    </div>
</div>
<div class="desc-container">
    <h3>
        <strong style="font-size:22px;">
            PhillipCapital ile TradingView üzerinden işlem yapmak oldukça pratik.
        </strong>
    </h3>
    <p>TradingView'in sunduğu canlı veri fırsatından yararlanarak işlemlerinizi daha etkin bir şekilde gerçekleştirebilirsiniz.</p>
    <ul>
        <li>PhillipCapital yatırım hesabınızla, TradingView platformu üzerinden işlemlerinizi rahatlıkla gerçekleştirebilirsiniz.</li>
        <li>TradingView işlem platformunu web, masaüstü veya mobil cihazlar üzerinden dilediğiniz her yerde ve her zaman kolayca kullanarak işlem yapabilirsiniz.</li>
        <li>Dünya genelinde 60 milyondan fazla kişi tarafından tercih edilen TradingView ile hisse senetleri ve vadeli işlemler üzerine kapsamlı analizler yapabilir; hisse takibi, indikatör takibi ve fiyat alarmları gibi birçok özelliği kullanabilirsiniz.</li>
        <li>Analiz ettiğiniz ve takip ettiğiniz hisse senetlerini, PhillipCapital hesabınızı TradingView’e ücretsiz olarak tanımlayarak hızlı ve kolay bir şekilde alım/satım işlemlerinizi gerçekleştirebilirsiniz.</li>
    </ul>

    <h3> <strong style="font-size:22px;">TradingView ile Neler Yapabilirsiniz?</strong></h3>
    <p>PhillipCapital yatırım hesabınızla TradingView işlem platformuna giriş yaparak takip listeleri oluşturabilir, gerçek zamanlı verilerle grafikler üzerinden analizler yapabilir, alarmlar kurabilir ve TradingView'in gelişmiş özellikleriyle yatırım stratejilerinizi şekillendirebilirsiniz. Ayrıca, doğrudan grafikler veya takip listenizden PhillipCapital yatırım hesabınızı kullanarak işlemlerinizi anında gerçekleştirebilirsiniz.</p>

    <h3><strong style="font-size:22px;">PhillipCapital Yatırım Hesabımı TradingView’a Nasıl Bağlarım?</strong></h3>
    <ol>
        <li>PhillipCapital'de ücretsiz ve hızlı bir şekilde yatırım hesabı açın.</li>
        <li>TradingView’a üye olun veya giriş yapın. Ardından bu sayfaya geri dönerek aşağıdaki "PhillipCapital ile Bağlan" butonuna tıklayın.</li>
    </ol>
</div>
<div class="container-three">
    <div class="text-section-three">
        <h3 style="color: #213876;">
            <strong style="font-size:22px;">3) PhillipCapital Yatırım Hesabınızı TradingView’a Bağlayın</strong>
        </h3>
        <p style="color: #213876; font-size:13px;">
            TradingView üyeliğinize giriş yaptıktan sonra aşağıdaki 'PhillipCapital ile Bağlan' butonuna tıklayın.
            Açılan TradingView sayfasında 'Bağlan' butonuna tıklayın ve PhillipCapital yatırım hesabınızın kullanıcı numarası
            ve şifrenizi kullanarak bağlantıyı tamamlayın.
        </p>
        <a href="#" class="connect-button-three">PhillipCapital ile Bağlan</a>
    </div>
    <div class="image-section-three">
        <img src="~/content/images/tv/connect.png" alt="PhillipCapital TradingView Bağlantısı">
    </div>
</div>

@*<div class="tv-card-container-contact" style="margin-top: 55px;">
        <div class="tv-card-contact">
            <div class="tv-circle-area">
                <div class="tv-circle">1</div>
            </div>
            <div class="tv-card-header">
                <h2>PhillipCapital'de Yatırım Hesabı Açın</h2>
            </div>
            <p>
                PhillipCapital'de hemen hesap açın ve geniş yatırım seçenekleriyle portföyünüzü çeşitlendirerek
                yatırımlarınıza başlayın.
            </p>
            <a class="tv-card-button tv-orange-button" href="https://www.phillipcapital.com.tr/hesap-ac" target="_blank" style="text-decoration: none;">Ücretsiz Hesap Aç</a>
        </div>

        <div class="tv-card-contact">
            <div class="tv-circle-area">
                <div class="tv-circle tv-blue-circle">2</div>
            </div>
            <div class="tv-card-header">

                <h2>TradingView’a Üye Olun</h2>
            </div>
            <p>
                PhillipCapital yatırım hesabınızı entegre edin, dünyanın en çok tercih edilen platformlarından olan
                TradingView’dan işlem yapın.
            </p>
            <a href="https://tr.tradingview.com/broker/PhillipCapitalTurkiye/" class="tv-card-button tv-blue-button" style="text-decoration: none;">Ücretsiz Üye Ol</a>
        </div>
    </div>*@
<div class="tv-section-container">
    <div class="content-area">
        <div class="tv-section-image-container">
            <img src="~/content/images/tv/multidevice.png" alt="TradingView"> <!-- Tek bir görselin yolu -->
        </div>
        <div class="tv-section-text-content">
            <p>
                <img src="~/content/images/tv/tvfull.png"  style="width:140px;"/>
            </p>
            <h1><strong style="font-size:20px;">Çoklu Platform ile Piyasaları Her Yerden Takip Edin!</strong></h1>
            <p>TradingView, mobil ve web uygulamalarıyla her an piyasalara erişim sunar. Anlık verilere ulaşarak, gelişmiş analiz araçlarıyla yatırımlarınızı yönetebilir ve stratejilerinizi kolayca uygulayabilirsiniz. Uygulamayı şimdi keşfedin!</p>
            <div class="tv-section-download-buttons">
                <a href="https://play.google.com/store/apps/details?id=com.tradingview.tradingviewapp&pli=12" target="_blank">
                    <img src="~/content/images/tv/Gplay.png" /></a>
                    <a href="https://apps.apple.com/us/app/tradingview-track-all-markets/id1205990992" target="_blank"><img src="~/content/images/tv/AppStore.png" /></a>
                    <a href="https://apps.microsoft.com/detail/9ndjwkstbt25?hl=tr-tr&gl=TR" target="_blank"><img src="~/content/images/tv/Google_Play.png" /></a>
</div>
        </div>
    </div>

</div>
<div class="desc-container">
    <h1>TradingView Nasıl Kullanılır?</h1>
    <p>
        Yatırım yaparken çeşitli analiz yöntemlerini kullanmak ve TradingView grafiklerinden faydalanmak oldukça önemlidir.<br /><br />

        TradingView kullanımı için ilk olarak bir hesap oluşturmanız gerekir. Daha sonra hesabınıza giriş yaparak platformu kullanmaya başlayabilirsiniz.
        Örneğin Bist 100 TradingView işlem fikirleri mi edinmek istiyorsunuz? Sembol Arama menüsünden <a href="https://tradingview.com/symbols/BIST-XU100/">XU100</a> araması yaparak; Borsa İstanbul’un 100 grafiğine ulaşabilirsiniz.
        Aynı şekilde farklı şirketlerin grafiklerini de inceleyebilir, çeşitli analizler ve çıkarımlar yapabilirsiniz.
        Ayrıca dilerseniz grafiklere, günlük, haftalık, aylık gibi zaman aralığı seçimi uygulayarak, hisselerin, tarihsel hareketlerini daha sağlıklı yorumlayabilirsiniz.<br /><br />

        TradingView grafiklerinin görünümünü özelleştirerek, size kullanım kolaylığı sunan grafik tiplerini yıldızlayabilirsiniz.<br /><br />

        TradingView alım satım işlemleri içinse "Emirler" menüsünden emirlerinizi oluşturarak, PhillipCapital hesabınız üzerinden işlemlerinizi gerçekleştirebilirsiniz.<br /><br />

        Takipçi>Hisse Senedi Takipçisi menüsünden, TradingView hisse tarama formülleri ve tarama işlemlerinizi yapabilirsiniz.<br /><br />

        Ülkelerin ekonomik göstergelerinin açıklanma tarihlerini ve saatlerini gösteren <a href="https://tradingview.com/economic-calendar/">Ekonomik Takvim</a> sayesinde, piyasa hareketlerini öngörebilir ve stratejilerinizi buna göre ayarlayabilirsiniz.<br /><br />

        TradingView, Web, mobil ve masaüstü uyumlu arayüzleri sayesinde stratejileriniz her zaman yanınızda!

    </p>
</div>
<div class="title-content">
    <h3>
        <strong style="font-size:22px;">Sıkça Sorulan Sorular</strong>
    </h3>
</div>
<div class="tv-content">
    <div class="tv-accordion">
        <div class="tv-accordion-item">
            <div class="tv-accordion-header" onclick="toggleAccordion(this)">
                TradingView Hangi Tarayıcıları Destekler?<i class="fa-solid fa-chevron-down"></i>
            </div>
            <div class="tv-accordion-content">
                <p>
                <p>TradingView, çeşitli modern web tarayıcıları ile uyumlu bir şekilde çalışacak şekilde tasarlanmıştır. En iyi kullanıcı deneyimini sağlamak için aşağıdaki tarayıcıları kullanmanız önerilir:</p>
                <ul>
                    <li><strong>Google Chrome:</strong> TradingView, Google Chrome'un en güncel sürümlerinde en iyi performansı sağlar.</li>
                    <li><strong>Mozilla Firefox:</strong> Firefox'un en son sürümleri TradingView ile tam uyumludur.</li>
                    <li><strong>Microsoft Edge:</strong> Chromium tabanlı yeni Edge tarayıcısı, TradingView'i sorunsuz bir şekilde destekler.</li>
                    <li><strong>Safari:</strong> Mac kullanıcıları için Safari'nin en güncel sürümleri de TradingView ile uyumludur.</li>
                </ul>
                <p>Eski tarayıcı sürümleri veya Internet Explorer gibi eski tarayıcılar TradingView tarafından desteklenmemektedir. En iyi deneyim için tarayıcınızın güncel olduğundan emin olmalısınız.</p>
                </p>
            </div>
        </div>
        <div class="tv-accordion-item">
            <div class="tv-accordion-header" onclick="toggleAccordion(this)">
                Para Yatırma ve Çekme İşlemleri Nasıl Yapılır?
                <i class="fa-solid fa-chevron-down"></i>
            </div>

            <div class="tv-accordion-content">
                Para yatırma ve çekme işlemleri için yatırım hesabınıza giriş yaparak ilgili menüden talimat
                verebilirsiniz. MobilG+ üzerinden hızlı eft veya eft talebinde bulunarak bu işlemi gerçekleştirebilirsiniz.
            </div>
        </div>
        <div class="tv-accordion-item">
            <div class="tv-accordion-header" onclick="toggleAccordion(this)">
                TradingView’a Dair İpuçları ve Kılavuzları Nerede Bulabilirim?
                <i class="fa-solid fa-chevron-down"></i>
            </div>
            <div class="tv-accordion-content">

                <p>TradingView kullanım kılavuzuna erişim sağlamak için birkaç basit adım izleyebilirsiniz. Platformumuzun sunduğu bu kılavuz, TradingView'i daha etkin ve verimli bir şekilde kullanmanıza yardımcı olacaktır. Kılavuzu bulmak için şu adımları takip edebilirsiniz:</p>

                <ol>
                    <li><strong>TradingView Platformu:</strong> Öncelikle TradingView platformuna giriş yapın. Kullanım kılavuzu, genellikle platform içindeki "Yardım" veya "Destek" sekmeleri altında yer alır.</li>
                    <li><strong>Destek Merkezi:</strong> TradingView'in resmi destek merkezine erişerek, kapsamlı bir kullanım kılavuzu ve sıkça sorulan sorulara ulaşabilirsiniz. Bu sayfa, platformun tüm özelliklerini detaylı bir şekilde açıklar.</li>
                    <li><strong>Arama Fonksiyonu:</strong> TradingView web sitesindeki arama çubuğunu kullanarak doğrudan "kullanım kılavuzu" veya "nasıl kullanılır" gibi anahtar kelimelerle arama yapabilirsiniz.</li>
                    <li><strong>Video Eğitimleri:</strong> Eğer yazılı kılavuzlar dışında görsel öğrenim tercih ediyorsanız, TradingView’in sunduğu video eğitimleri de faydalı olacaktır. Bu videolar adım adım platformu nasıl kullanacağınızı gösterir.</li>
                </ol>

                <p>Herhangi bir sorun yaşamanız durumunda, destek ekibimiz size yardımcı olmaktan memnuniyet duyacaktır. Bize her zaman ulaşabilirsiniz.</p>


            </div>
        </div>
        <div class="tv-accordion-item">
            <div class="tv-accordion-header" onclick="toggleAccordion(this)">
                PhillipCapital Yatırım Hesabı ile TradingView Hesabı Entegre Etmek Ücretli midir?
                <i class="fa-solid fa-chevron-down"></i>
            </div>
            <div class="tv-accordion-content">

                PhillipCapital müşterileri, TradingView platformunda canlı veri hizmetini ücretsiz olarak kullanma imkanına sahiptir.
                PhillipCapital hesabınızı TradingView ile entegre ettiğinizde, platformda canlı veriye erişim sağlayabilirsiniz.
                Ancak, yüksek hacimli veri kullanımı için TradingView üzerinden ek paket satın almanız gerekebilir.
                Bu sayede, TradingView'in canlı veri ve BIST canlı veri gibi özelliklerinden tam kapasiteyle yararlanabilirsiniz.

            </div>
        </div>
        <div class="tv-accordion-item">
            <div class="tv-accordion-header" onclick="toggleAccordion(this)">
                TradingView Güvenilir mi?<i class="fa-solid fa-chevron-down"></i>
            </div>
            <div class="tv-accordion-content">
                TradingView, tamamen yasal ve güvenilir bir platform olarak öne çıkmaktadır.
                Bu uygulama, kullanıcılarına canlı veri akışı sağlayarak piyasalar, stratejiler ve teknikler konusunda bilgi birikimini artırma ve grafik ile yatırım yeteneklerini geliştirme fırsatı sunar. Platform, kullanıcıların güvenliğini korumak amacıyla gerekli tüm tedbirleri almaktadır. Önemli not: TradingView ile ilgili yetkisiz taleplerde bulunmak kesinlikle yasaktır. Bu tür ihlaller, hesabın geçici veya
                kalıcı olarak kapatılmasına yol açabilir ve bu durum, parasal kayıplar veya diğer zararlar için yasal işlem yapılmasını da içerebilir.
            </div>
        </div>

        <div class="tv-accordion-item">
            <div class="tv-accordion-header" onclick="toggleAccordion(this)">
                TradingView için PhillipCapital'de nasıl hesap açabilirim? (TradingView / Hesap açma)<i class="fa-solid fa-chevron-down"></i>
            </div>
            <div class="tv-accordion-content">
                Yukarıda Tradingview kartında belirtilen düğmeden TradingView üyeliğinizi oluşturabilirsiniz.
            </div>
        </div>
    </div>
</div>

<div class="tv-big-info">
    <div class="tv-text-area">
        <p class="tv-big-info-title">
            Önemli Bilgilendirme:
        </p>
        <p class="tv-big-info-desc">
            TradingView, PhillipCapital yönetim ve kontrolündeki işlem platformlarından biri değildir. TradingView
            uygulaması ile müşterilerin kendi yatırım kararları doğrultusunda seçtiği modeller veya yazdığı
            formüller ile oluşturulan emirler gerçek ortama iletilecektir. Kullanılan modeller, yazılan formüller
            müşterilerin kendi yatırım kararlarına uygun şekilde düzenlenmelidir. TradingView, tavsiye, danışmanlık,
            yatırım danışmanlığı veya portföy yönetimi niteliğinde hizmet sunmamakta olup müşterilerimizce kendi
            bilgi, tecrübe ve yatırım kararları doğrultusunda işlem stratejisi belirlenmeli ve müşterilerimiz
            tarafından uygun görülen enstrüman üzerinde yatırım strateji kararları alınmalıdır. Müşterilerimiz,
            tercihleri doğrultusunda gerçekleştirdiği işlemlerden kar veya zarar edebilecek olup işlemler ya da
            modeller/formüller kaynaklı kar-zararlardan PhillipCapital'ın sorumluluğu bulunmamaktadır.<br><br>
            Gerçek ortamda emir iletiminin müşterimiz tarafından TradingView portalları üzerinden iletilmesinin
            seçilmesi halinde emir gönderiminde doğacak problem, eksiklik, hata ve diğer sorunlarda
            PhillipCapital'ın sorumluluğu bulunmamaktadır. TradingView uygulaması kullanılırken, müşterilerimiz
            sahip olduğu bağlantı ve/veya teknik sistemler sebebiyle ya da TradingView ile PhillipCapital arasındaki
            entegrasyon modülleri sebebiyle kopmalar yaşayabilecek olup, gerekli kontrolleri – testleri yapmalı ve
            önlemleri almalıdır. Bilgi güvenliği yönünden, yazılım ve donanım tedbirleri alınmalı ve müşteri parola
            ve şifresi hiçbir surette üçüncü kişiler ile paylaşılmamalıdır.
        </p>
    </div>
</div>

