@{
    Layout = "_Admin.cshtml";
    MvcXmlEntities ConnXml = new MvcXmlEntities();
    int reqLangID = 0;
    if (Request.QueryString["Lang"] != null)
    {
        reqLangID = Request.QueryString["Lang"].AsInt();
    }
    if (IsPost)
    {
        if (!Request.Form["btnSort"].IsEmpty())
        {
            string[] StrSortList = Request.Form["SortItems"].Split(',');
            try
            {
                int i = 1;
                foreach (var item in StrSortList)
                {
                    if (!item.IsEmpty())
                    {
                        int getItem = Convert.ToInt32(item);
                        FAQ itemPage = ConnXml.FAQ.FirstOrDefault(x => x.FAQID == getItem);
                        itemPage.Line = i;
                        ConnXml.Entry(itemPage).State = System.Data.EntityState.Modified;
                        ConnXml.SaveChanges();
                        i++;
                    }
                }
            }
            catch { }
            Session["Ok"] = "İşlem başarı ile gerçekleşmiştir.";
            Response.Redirect("FAQPage");
        }
        else if (!Request.Form["drpLang"].IsEmpty())
        {
            reqLangID = Request.Form["drpLang"].AsInt();
        }
    }
}
@functions {
    public string GetDetail(int getLangID)
    {
        MvcXmlEntities ConnXml = new MvcXmlEntities();
        Setting Setting = new MvcXmlEntities().Setting.FirstOrDefault();
        string str = "";
        IQueryable<FAQCategory> IqFAQCategory = ConnXml.FAQCategory;
        foreach (FAQ itemPages in ConnXml.FAQ.Where(x => x.Lang == getLangID).OrderByDescending(x => x.FAQID))
        {
            str += "<tr thisVal=" + itemPages.FAQID + " " + (itemPages.Status == false ? "class='Yellow sssicon' Question='Kayıt pasif durumda. Web sitesinde gösterilmiyor.'" : "") + ">";
            str += "<td class=\"Min grippy\"></td>";
            str += "<td class='Normal'>" + itemPages.Question + "</td>";
            str += "<td class='Normal'>" + itemPages.Answer + "</td>";
            FAQCategory itemRelease  = IqFAQCategory.FirstOrDefault(x => x.FAQCategoryID == itemPages.FAQCategoryID);
            if (itemRelease!=null)
            {
                str += "<td class='Normal'>" + itemRelease.Title + "</td>";
            }
            else
            {
                str += "<td class='Normal'>--------</td>";
            }
            str += "<td class='Big'>";
            str += "<a class='Blue' href='EditFAQPage?ID=" + itemPages.FAQID + "&Lang=" + getLangID + "'>Düzenle</a>";
            str += "<a class='Red' onclick='return confirmDelete();' href='EditFAQPage?Delete=" + itemPages.FAQID + "&Lang=" + getLangID + "'>Sil</a>";
            str += "</td>";
            str += "</tr>";
        }
        return str;
    }
}
<script type="text/javascript">
    <!-- 
    function newPage(num, reqLangID) {
        var url = new Array();
        url[0] = "EditFAQPage?Lang=" + reqLangID;
        window.location = url[num];
    }
    // -->
</script>
<div class="Title">Soru Listesi</div>
<form method="post">
    <div class="Content">
        <div class="ButtonPanel">
            @{
                List<SelectListItem> lstLang = new List<SelectListItem>();
                for (int i = 0; i < Shared.Lang.Length; i++)
                {
                    lstLang.Add(new SelectListItem { Value = i.ToString(), Text = Shared.toLang(i) });
                }
                lstLang.FirstOrDefault(x => x.Value == reqLangID.ToString()).Selected = true;
                IEnumerable<SelectListItem> drplstLangs = lstLang;
            }
            @Html.ListBox("drpLang", drplstLangs, new { @class = "inputdrp", @onchange = "submit();" })
            <input name="btnSort" type="submit" value="Sıralamayı Kaydet" id="btnSort" class="inputbutton Save">
            <input id="btnAdd" name="btnAdd" type="button" class="inputbutton Add" onclick="newPage(0,@reqLangID)" value="Yeni Soru Ekle" />
        </div>
        <table class="GridWiew" cellpadding="5" cellspacing="0" type="sortable">
            <thead>
                <td class="Min"></td>
                <td class="Normal">Soru</td>
                <td class="Normal">Cevap</td>
                <td class="Normal">Kategori</td>
                <td class="Big"></td>
            </thead>
            <tbody>
                @{
                    string str = GetDetail(reqLangID);
                    if (!str.IsEmpty())
                    {
                        @Html.Raw(str);
                    }
                    else
                    {
                        <tr>
                            <td class='Big' colspan='15'>
                                <div class='NoneItemPage'>
                                    Soru Bulunamadı<br />
                                    <br />
                                    <a onclick="newPage(0,@reqLangID)">Yeni Soru Ekle</a>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <td class="Min"></td>
                <td class="Normal">Soru</td>
                <td class="Normal">Cevap</td>
                <td class="Normal">Kategori</td>
                <td class="Big"></td>
            </tfoot>
        </table>
    </div>
</form>