@{
    Layout = "_Admin.cshtml";
    MvcXmlEntities ConnXml = new MvcXmlEntities();
    int reqLangID = 0;  
    if (Request.QueryString["Lang"] != null)
    {
        reqLangID = Request.QueryString["Lang"].AsInt();
    }
    if (IsPost)
    {
        if (!Request.Form["drpLang"].IsEmpty())
        {
            reqLangID = Request.Form["drpLang"].AsInt();
        }
    }
}
@functions
{
    public string GetDetail(int getLangID)
    {
        MvcXmlEntities ConnXml = new MvcXmlEntities();
        Setting Setting = new MvcXmlEntities().Setting.FirstOrDefault();
        string str = "";
        foreach (FinancialStatement itemPages in ConnXml.FinancialStatement.Where(x=> x.Lang==getLangID).OrderBy(x => x.Year))
        {
            str += "<tr thisVal=" + itemPages.FinancialStatementID + " " + (itemPages.Status == false ? "class='Yellow sssicon' title='Kayıt pasif durumda. Web sitesinde gösterilmiyor.'" : "") + ">";
            str += "<td class></td>";
            str += "<td class='Normal'>" + itemPages.Year + "</td>";
            str += "<td class='Normal'>" + itemPages.Quarter + "</td>";
            if (!itemPages.ImageUrl.IsEmpty())
            {
                string imgDir = "~/" + Setting.Documentdir + "/FinancialStatement/" + itemPages.ImageUrl;
                if (System.IO.File.Exists(Server.MapPath(imgDir)))
                {
                    str += "<td ><a href='" + imgDir.Replace("~/", "../") + "' target='_blank'>Mevcut Dosya</a></td>";
                }
                else str += "<td ></td>";
            }
            else str += "<td ></td>";
            str += "<td class='Big'>";
            str += "<a class='Blue' href='EditFinancialStatementPage?ID=" + itemPages.FinancialStatementID + "&Lang="+getLangID+"'>Düzenle</a>";
            str += "<a class='Red' onclick='return confirmDelete();' href='EditFinancialStatementPage?Delete=" + itemPages.FinancialStatementID + "&Lang=" + getLangID + "'>Sil</a>";
            str += "</td>";
            str += "</tr>";
        }
        return str;
    }
}
<script type="text/javascript">
    <!-- 
    function newPage(num, reqLangID) {
        var url = new Array();
        url[0] = "EditFinancialStatementPage?Lang=" + reqLangID;      
        window.location = url[num];
    }
    // -->
</script>
<div class="Title">Mali Tablolar</div>
<form method="post">
    <input type="hidden" id="PageName" value="" />
    <input type="hidden" id="PageNameQ" value="" />
    <input type="hidden" id="SelectedItems" name="SelectedItems" class="SelectedItems" runat="server" />
    <input type="hidden" id="PassiveItems" name="PassiveItems" class="PassiveItems" runat="server" />
    <input type="hidden" id="SortItems" name="SortItems" class="SortItems" runat="server" />
    <div class="Content">
        <div class="ButtonPanel">
            @{
                List<SelectListItem> lstLang = new List<SelectListItem>();
                for (int i = 0; i < Shared.Lang.Length; i++)
                {
                    lstLang.Add(new SelectListItem { Value = i.ToString(), Text = Shared.toLang(i) });
                }
                lstLang.FirstOrDefault(x => x.Value == reqLangID.ToString()).Selected = true;
                IEnumerable<SelectListItem> drplstLangs = lstLang;
            }
            @Html.ListBox("drpLang", drplstLangs, new { @class = "inputdrp", @onchange = "submit();" })
            <input id="btnAdd" name="btnAdd" type="button" class="inputbutton Add" onclick="newPage(0,@reqLangID)" value="Yeni Mali Tablo Ekle" />
        </div>
        <table class="GridWiew" cellpadding="5" cellspacing="0">
            <thead>
                <td class="Min"></td>
                <td class="Normal">Yıl</td>
                <td class="Dönem">Dönem</td>
                <td class="Normal">Dosya</td>
                <td class="Big"></td>
            </thead>
            <tbody>
                @{
                    string str = GetDetail(reqLangID);
                    if (!str.IsEmpty())
                    {
                        @Html.Raw(str);
                    }
                    else
                    {
                        <tr>
                            <td class='Big' colspan='15'>
                                <div class='NoneItemPage'>
                                    Mali Tablo Bulunamadı<br />
                                    <br />
                                    <a href="javascript:;" onclick="newPage(0,@reqLangID)">Yeni Mali Tablo Ekle</a>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <td class="Min"></td>
                <td class="Normal">Yıl</td>
                <td class="Dönem">Dönem</td>
                <td class="Normal">Dosya</td>
                <td class="Big"></td>
            </tfoot>
        </table>
    </div>
</form>