@{
    Layout = "_Admin.cshtml";
    MvcXmlEntities ConnXml = new MvcXmlEntities();
    int reqLangID = 0;
    if (Request.QueryString["Lang"] != null)
    {
        reqLangID = Request.QueryString["Lang"].AsInt();
    }
    if (IsPost)
    {
        if (!Request.Form["drpLang"].IsEmpty())
        {
            reqLangID = Request.Form["drpLang"].AsInt();
        }
    }
}
@functions
{
    public string GetSubPage(int i, List<VideoGalery> Pages, int getPageID, int getLangID)
    {
        string left = "<img src='Images/Node.png' style='margin-left:" + (i * 30) + "px;' /> ";
        string str = "";
        foreach (VideoGalery itemPages in Pages.Where(x => x.VideoGaleryParentID == getPageID && x.Lang == getLangID))
        {
            str += "<tr thisVal=" + itemPages.VideoGaleryID + " " + (itemPages.Status == false ? "class='Yellow sssicon' title='Kayıt pasif durumda. Web sitesinde gösterilmiyor.'" : "") + ">";
            str += "<td class=\"Min grippy\"></td>";
            str += "<td class='Big'>" + left + itemPages.Name + "</td>";
            str += "<td class='Big'>";
            str += "<a class='Green' href='EditVideoGaleryPage?ParentID=" + itemPages.VideoGaleryID + "&Lang=0'>Alt Galeri Ekle</a>";
            str += "<a class='Blue' href='VideoGaleryPageFile?GaleryID=" + itemPages.VideoGaleryID + "'>Dosyalar</a>";
            str += "<a class='Blue' href='EditVideoGaleryPage?ID=" + itemPages.VideoGaleryID + "'>Düzenle</a>";
            str += "<a class='Red' href='EditVideoGaleryPage?Delete=" + itemPages.VideoGaleryID + "'>Sil</a>";
            str += "</td>";
            str += "</tr>";
            str += GetSubPage(i + 1, Pages, itemPages.VideoGaleryID, getLangID);
        }
        return str;
    }
}
<script type="text/javascript">
    <!-- 
    function newPage(num, reqLangID) {
        var url = new Array();
        url[0] = "EditVideoGaleryPage?Lang=" + reqLangID;
        window.location = url[num];
    }
    // -->
</script>
<div class="Title">Video Galerisi</div>
<form method="post">
    <div class="Content">
        <div class="ButtonPanel">
            @{
                List<SelectListItem> lstLang = new List<SelectListItem>();
                for (int i = 0; i < Shared.Lang.Length; i++)
                {
                    lstLang.Add(new SelectListItem { Value = i.ToString(), Text = Shared.toLang(i) });
                }
                lstLang.FirstOrDefault(x => x.Value == reqLangID.ToString()).Selected = true;
                IEnumerable<SelectListItem> drplstLangs = lstLang;
            }
            @Html.ListBox("drpLang", drplstLangs, new { @class = "inputdrp", @onchange = "submit();" })
            <input id="btnAdd" name="btnAdd" type="button" class="inputbutton Add" onclick="newPage(0,@reqLangID)" value="Yeni Galeri Ekle" />
        </div>
        <table class="GridWiew" cellpadding="5" cellspacing="0" type="sortable">
            <thead>
                <td class="Min"></td>
                <td class="Big">Görünen Ad</td>
                <td class="Big"></td>
            </thead>
            <tbody>
                @{
                    string str = GetSubPage(0, ConnXml.VideoGalery.ToList(), 0,reqLangID);
                    if (!str.IsEmpty())
                    {
                        @Html.Raw(GetSubPage(0, ConnXml.VideoGalery.ToList(), 0,reqLangID));
                    }
                    else
                    {
                        <tr>
                            <td class='Big' colspan='15'>
                                <div class='NoneItemPage'>
                                    Galeri Bulunamadı<br />
                                    <br />
                                    <a href='javascript:;' onclick="newPage(0,@reqLangID)">Yeni Galeri Ekle</a>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <td class="Min"></td>
                <td class="Big">Görünen Ad</td>
                <td class="Big"></td>
            </tfoot>
        </table>
    </div>
</form>